* { padding: 0; margin: 0; }

body { font: 16px Verdana, sans-serif; }

ol.playlist {
	width: 400px;
	height: 400px;
	padding: 40px; 
	margin: 50px auto;
	background: url(images/cover.jpg) center top no-repeat;
	background: #000;
}

ol.playlist li {
	display: block; 
	list-style: none outside;
	background: url(images/dot.png) 0 74% repeat-x;
	color: #FFF;
	position: relative; 
	height: 1.5em; 
}

ol.playlist li span { display: block; background: #000; padding: 2px 10px; position: absolute; top: 0;  }
ol.playlist li span.title { left: 0; max-width: 80%; white-space: nowrap; overflow: hidden; }
ol.playlist li span.time { right: 0; }

