* { padding: 0; margin: 0; }

body { font: 12px/1.5 Verdana, Arial, sans-serif; }

a { text-decoration: none; color: #090;  }
p { padding-bottom: 1.5em;  }

#container { width: 90%; margin: 0 auto; }

#header { border-top: 10px solid #000; }

#header h1 { padding: 50px 20px 25px 20px; font-size: 2.5em; font-weight: normal; border-bottom: 1px solid #e0e0e0; }
#header h1 a { color: #000; }
#header h1 a span { color: #acacac; }

#header nav { border-top: 4px solid #f4f4f4; }
#header nav ul { overflow: hidden; }
#header nav li { display: block; float: left; list-style: none outside; }
#header nav li a { display: block; padding: 15px 20px; font-size: 1.16em; color: #999;  }
 
#banner { border-bottom: 4px solid #f4f4f4; }
#banner h4 { padding: 80px 20px; font-size: 3em; color: #000; font-weight: bold; border-bottom: 1px solid #e0e0e0; }

#main { border-bottom: 4px solid #f4f4f4; }
#main-inner { border-bottom: 1px solid #e0e0e0; overflow: hidden; }

#main .inner { padding: 20px; }
#main .content,
#main .sidebar { float: left; overflow: hidden; }

#main .content { width: 63.26%; margin-right: 4.08%; }
#main .sidebar { width: 32.65% }

#main .articles { clear: both; }

#footer { overflow: hidden; padding: 20px; }
#footer p { padding: 0; color: #999; }
#footer div { width: 50%; float: left; }
#footer div.left { text-align: left; }
#footer div.right { text-align: right; }

.articles { border-top: 1px solid #e0e0e0; }
.articles ul { overflow: hidden; border-top: 4px solid #f4f4f4; }
.articles ul li { display: block; width: 25%; float: left; }
.articles ul li br { display: none; }
.articles ul li strong,
.articles ul li span { display: block; padding: 0 20px; }
.articles ul li strong { padding-top: 20px; }
.articles ul li span.copy { padding-bottom: 20px; color: #999; }
.articles ul li span.meta { color: #999; padding-bottom: 10px; }

.index h3 { font-size: 2em; color: #000; font-weight: normal;  }
.index p { font-size: 1.5em; color: #999; }
