* { padding: 0; margin: 0; }

body { font: 16px/1.5 Verdana, Arial, sans-serif; } 

.cleaner { clear: both; }

/* --- Layout --- */
#container { width: 900px; margin: 0 auto; }

#header,
#footer,
#main { border: 1px solid #000; }

#header { margin-bottom: 20px; border-top: 0;  }
#footer { height: 200px; margin-top: 20px; border-bottom: 0;  }

#main { overflow: hidden; }

.content, .sidebar { float: left; overflow: hidden; }

.content { width: 70%; }
.sidebar { height: 30%; }

/* --- Header --- */
#header h1 { width: 30%; float: left; }
#header nav { width: 70%; float: left; }

/* --- Elements --- */
.inner { padding: 20px; }

